body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

.title {
    text-align: center;
    margin-top: 40px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #333;
}

.descripcion{
    text-align: center;
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.joya {
    width: 200px !important;
    height: auto !important;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    
}

nav {
    background: 111 ;
    padding: 15px;
    display: flex;
    gap: 20px;
    text-align: center;
}

nav a {
    color: rgb(236, 111, 132);
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
    transition: 0.3s;
}

nav a:hover {
    color: pink;
    text-decoration: underline;
    opacity: 0.8;
}